@import url(https://fonts.googleapis.com/css?family=Lato:400,700,900);

:root {
  --white-text-color: white;
  --highlight-color: #6fd1bd;
  --hover-color: #fa8072;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: #333;
  font-size: 1rem;
  font-family: Lato, Helvetica, Arial, sans-serif;
  font-weight: normal;
  line-height: 1.5;
  letter-spacing: .008em;
}

/* navbar */

header {
  background-color: black;
  font-size: 14px;
  text-transform: uppercase;
}

.navbar {
  max-width: 80%;
  margin: 0 auto;
  background-color: black;
  color: var(--white-text-color);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  letter-spacing: .10rem;
  padding: 0px 0px;
  line-height: 2.5rem;
}

.navbar a {
  list-style: none;
  text-decoration: none;
  display: flex;
  color: var(--white-text-color);
  padding: 0 24px;
}

.navbar ul {
  list-style: none;
  text-decoration: none;
  display: flex;
  padding: 0 24px;
}

.navbar .navbar-btn-1:hover {
  background: var(--hover-color);
}

.navbar .navbar-btn-2 {
  background-color: var(--highlight-color);
}

.navbar .navbar-btn-2:hover {
  background: var(--hover-color);
}